body,*{
	padding: 0px;
	margin: 0px;
}
.contt{
	position: fixed;
	width: 100px;
	height: 130px;
	z-index: 2;
}

.navbar-brand{
	display: inline-block;
	width: 300px;
	position: relative;
	top: 20px;
}

#nav-bar{
	background-image: url('bg.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 150px;
}
#navbarNav{
	display: inline-block;
	width: 600px;
	position: relative;
	left: 450px;
	bottom: 25px;
}

.navbar-nav{
	margin-left: auto;
}

.titre{
	font-weight: bold;
	font-size: 40px;
}

.div1{
	padding-top: 130px;
}

.btn1{
	width: 220px;
	height: 75px;
}

.btn1 a{
	font-weight: bold;
	font-size: 20px;
}

.p1{
	font-weight: bold;
	font-size: 75px;
}

.services,.portfolio,.contact-us,.team{
	margin-top: 75px;
	margin-bottom: 130px;
}



.im{
	width: 205px;
	border-radius: 100px;
	border: solid;
	border-color: lightgrey;
	border-width: 7px;
}

input{
	height: 60px;
}

.contact-us{
	padding-top: 20px;
	background-image: url('bg1.jpg');
	background-size: 100%;
}

.btn2{
	width: 200px;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 70px;
}

.sp{
	position: absolute;
	right: 150px;
}

.spa{
	margin-left:270px;  
}

.sp{
	position: absolute;
}

.lien:hover{
  color: red;
}

.im1, .im2, .im3, .im4{
	width: 140px;
	border-radius: 100px;
	border: solid;
	border-color: lightgrey;
	border-width: 6px;
}
.im1{
  position: relative;
  right:440px;
}
.divi1,.divi2,.divi3,.divi4{
  background-color: lightgrey;
  height: 300px;
  width: 2px;
  position: relative;
  left: 558px;
}
.dernier{
	padding-top: 40px;
	text-align: center;
	border: solid;
	border-color: lightgrey;
	width: 150px;
	height: 150px;
	border-radius: 100px;
	background-color: yellow;
	position: relative;
	left: 485px;
}

.para1{
  display: inline-block;
  width: 440px;
  position: relative;
  right: 100px;
  top: 275px;
}

.para2{
  display: inline-block;
  width: 440px;
  position: relative;
  left: 100px;
  top: 700px;
}

.para3{
  display: inline-block;
  width: 440px;
  position: relative;
  right: 25px;
  top: 1000px;
}

.para4{
  display: inline-block;
  width: 440px;
  position: relative;
  left: 150px;
  top: 1450px;
}

.lien:hover {
    color: orange !important;
}

.lien:active {
    color: orange !important;
}

.container1 {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: yellow;
}


/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container1:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

::placeholder{
    font-weight: bold;
}